/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: 'metropolis';
    src: local('metropolis'), url(./../fonts/metropolis/Metropolis-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'heroes assemble';
    src: local('heroes assemble'), url(./../fonts/heroes_assemble/HeroesAssembleRegular-Kmvl.otf) format('truetype');
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

body::-webkit-scrollbar {
    display: none;
}